html, body {
    overflow: hidden;
}
body {
    margin: 0;
    transition: all 0.3s;
    font-family: sans-serif;
    background-color: white;
}
body.dark-theme {
    color: #e8e8e8;
    background-color: #202124;
}
code {
    white-space: pre;
}
h1 {
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
}
ul {
    gap: 5px;
    display: grid;
    padding-left: 15px;
}
textarea {
    height: 10vh;
}
body.dark-theme textarea {
    color: #e8e8e8;
    border-radius: 3px;
    background-color: #171717;
}
a {
    color: #36c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button {
    width: 75px;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-color: #36c;
    background-color: #36c;
}
button:hover {
    border-color: #3056a9;
    background-color: #3056a9;
}
label {
    margin-bottom: 3px;
}
form {
    gap: 15px;
    display: grid;
    margin-top: 1em;
}
.theme-button {
    bottom: 10px;
    width: 125px;
    position: absolute;
}
.row {
    display: flex;
}
.main {
    width: 100%;
    padding: 20px;
}
.search {
    width: 100%;
    border: none;
    font-size: 15px;
    line-height: 15px;
    background-color: transparent;
}
body.dark-theme .search {
    color: #e8e8e8;
}
.sidebar {
    width: 20%;
    height: 100vh;
    padding: 20px;
    background-color: #f8f9fa;
}
body.dark-theme .sidebar {
    background-color: #171717;
}
.sidebar h2 {
    margin-top: 5px;
}
.box-sidebar {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #a2a9b1;
    border-bottom: 1px solid #a2a9b1;
}
.form-sidebar {
    display: flex;
    margin-top: 0;
    border-radius: 3px;
    align-items: center;
    background-color: white;
    border: 1px solid #a2a9b1;
}
body.dark-theme .form-sidebar {
    background-color: #202124;
}
.form-group {
    display: grid;
}
.logo {
    margin-top: 15px;
    margin-bottom: 15px;
}
.icon-sidebar {
    padding: 3px;
    padding-left: 5px;
    padding-right: 3px;
}
body.dark-theme .icon-sidebar {
    fill: #e8e8e8;
}
.button-edit {
    font-size: 15px;
}
.title {
    display: flex;
    padding-bottom: 10px;
    align-items: baseline;
    border-bottom: 1px solid #a2a9b1;
}
body.dark-theme #title {
    color: #e8e8e8;
    border-radius: 3px;
    background-color: #171717;
}
